version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
    groups:
       dependencies:
         patterns:
           - "*"
    commit-message:
      prefix: "deps"
    labels:
      - "dependencies"
      - "go"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "monthly"
    groups:
       actions:
         patterns:
           - "*"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "ci"
