name: Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  gopages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Install gopages
        run: go install github.com/johnstarich/go/gopages@latest

      - name: Generate and Publish Docs
        run: |
          git config --global user.name "github-actions-bot"
          git config --global user.email "actions@github.com"
          gopages -gh-pages -gh-pages-user "github-actions-bot" -gh-pages-token "${{ secrets.GITHUB_TOKEN }}" -base "/sal"
